/* Root Styles CSS */
:root {
    background-color: rgb(57, 57, 57);
    font-family: Avenir, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

/* Header CSS */
.header-container {
    overflow: hidden;
    padding: 20px 10px;
    padding-bottom: 60px;
  }

.header-left {
    float: left;
    height: 100px;
    width: 310px;
}

.header-left img {
    padding-top: 8px;
    height: 80px;
}

.header-left h1 {
    float: right;
    font-size: 45px;
    
}

.header-right {
    float: right;
    padding-top:30px;
    padding-right:10px;
}


.header-right button {
  background-color: rgb(0, 0, 0);
  border: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  border-radius: 0.1rem;
  border-radius: 16px;
  box-sizing: border-box;
  color:  rgb(255, 255, 255);
  cursor: pointer;
  padding: 15px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  width: 80px;
}

#image{
  border-radius:10px;
  height:300px;
  width:300px;
}

#event-content{
  padding:0px;
}
